<div class="container text-center">
  <!-- <h1>Get in touch!</h1> -->
  <div class="wrapper">
    <div class="head">
        <img src="assets/prof1.png" alt="profile picture">
        <h2>Jorge Ardon</h2>
        <p class="tag">Web Designer <span class="divide">|</span> Developer</p>
        <div class="flag"><img src="assets/cr.png" alt="Costa Rica"><p>Costa Rica</p></div>
    </div>
    <hr>
    <div class="contact">
      <div class="info">
        <ul class="infoList">
          <li><img src="assets/mail.png" alt="skype contact information"> <span class="infoName"> ardonz@gmail.com <span class="div2">|</span> info@orangekulture.com</span></li>
          <li><img src="assets/skype.png" alt="skype contact information"> <span class="infoName"> j.ardzel</span></li>
          <li><img src="assets/phone.png" alt="skype contact information"> <span class="infoName"> (506)2240-7746</span></li>
          <li><img src="assets/whatsapp.png" alt="skype contact information"> <span class="infoName"> +50688953932</span></li>
        </ul>
      </div>
      <div class="social">
          <ul class="socialList">
            <a href="https://github.com/OrangeKulture" target="_blank"><li><span class="socialName"> Github</span> <img src="assets/github.png" alt="skype contact information"> </li></a>
            <a href="https://codepen.io/counterculture/" target="_blank"><li><span class="socialName"> Codepen</span> <img src="assets/codepen.png" alt="skype contact information"> </li></a>
            <a href="https://www.linkedin.com/in/jorge-ardon/" target="_blank"><li><span class="socialName"> LinkedIn</span> <img src="assets/linkedin.png" alt="skype contact information"> </li></a>
            <a href="https://www.freecodecamp.org/orangekulture" target="_blank"><li><span class="socialName"> FreeCodeCamp</span> <img src="assets/fcc.png" alt="skype contact information"> </li></a>
          </ul>
      </div>
    </div>
  </div>
</div>
