<div class="wrapper">
  <div class="box">
    <div class="slider">
        <div ng2-carouselamos class="slide-wrapper"
        [items]="items"
        [width]="getWidth()"
        [$prev]="prev"
        [$next]="next"
        [$item]="item">
        </div>
    </div>
  </div>
  <footer class="text-center">
    <p>© 2000-2015 Psyonix, Inc. All rights reserved.</p>
  </footer>
</div>


<ng-template #prev>
    <span class="glyphicon glyphicon-chevron-left"></span>
  </ng-template>

  <ng-template #next>
    <span class="glyphicon glyphicon-chevron-right"></span>
  </ng-template>

  <ng-template #item let-item let-i="index">
    <div class="slides">
      <img class="img img-responsive imgSlide"src="{{item.imageUrl}}" alt="something">
      <div class="text1">
        <h2>{{item.name}}</h2>
        <hr>
        <p>{{item.description}}</p>
      </div>
    </div>
  </ng-template>
  
